* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 头部 */
#header {
  height: 88px;
  border-left: 1px solid;
}
#header .a_header {
  width: 800px;
  height: 88px;
  margin: 0 auto;
}
.a_header img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 15px;
  border-radius: 5px;
}
.a_header p {
  text-align: center;
  background-color: rgb(51, 153, 153);
  width: 600px;
  float: left;
  margin-top: 20px;
  margin-left: 80px;
  border: 1px solid yellow;
  height: 40px;
  font-size: 20px;
  padding-top: 5px;
}
/* 中 */
#login-body {
  height: 438px;
  background-image: url(../images/a2337eae-0e40-456c-8004-cf96da0a22ac.jpg);
  background-position: center;
}
#login-body .login-center {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
#login-body .login-all {
  position: absolute;
  width: 320px;
  background: white;
  right: 30px;
  top: 50px;
  padding: 30px;
}
#login div {
  height: 40px;
  margin-top: 20px;
}
#login input {
  width: 250px;
  height: 40px;
  float: left;
}
#login .forgot_password {
  text-align: right;
  margin-top: 20px;
}
.forgot_password a:hover {
  color: blueviolet;
}
a {
  text-decoration: none;
}
/* 尾 */
#footer {
  text-align: center;
  margin-top: 10px;
}
#footer .copyright {
  margin-top: 15px;
}
